@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
header{
  margin-bottom: 5px;

}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 100px);
    max-width: 230px;
    min-width: 164px;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

#breadcrumb li:last-child a {
   color: gray;
   pointer-events: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
#breadcrumb li:last-child a:hover {
   color: gray;
   text-decoration: none;
}
/* ====================== Map ====================== */

#map-container{
  margin: auto;
}

#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
  position: relative;
}

.prompt{
  left: 47px;
}


/* ====================== Restaurant Filtering ====================== */
.filter-options {
  margin: 10px 0;
  padding-top: 10px;
  background-color: #3397DB;
  text-align: center;
}
.filter-options h2 {
  color: white;
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 1.15em;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
  border-radius: 8px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: space-evenly;
  background-color:  #ff6600;
  background-color: #f47c44;
  padding: 0;
  padding-bottom: 150px;
  margin-bottom: 0;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  font-family: Arial,sans-serif;
  margin: 100px 10px 0;
  min-height: 380px;
  padding: 0 0 25px;
  text-align: center;
  width: 270px;
  border-radius: 8px;
}
ul#restaurants-list > li > img{
  border-radius: 4px;
  width: 100%;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h3 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 1.35em;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside #maincontent {
  background-color: #fdfdfd;
}
.inside #map-container {
 background: blue none repeat scroll 0 0;
}
.inside #map {
  background-color: #ccc;
  height: 400px;
}
.inside #footer {
  margin-top: 150px;
}
#restaurant-container *{
  max-width: 740px;
}
#restaurant-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  max-width: 740px;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1em;
  width: 100%;
}
#restaurant-img {
	width: 100%;
  align-self: center;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
  width: 100%;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
}
#reviews-container {
  margin-top: 100px;
}
#reviews-container h3 {
  color: #f58500;
  font-size: 2em;
  font-weight: 300;
  letter-spacing: -1px;
  padding: 0 20px;

}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  list-style-type: none;
  margin: 0 0 30px;
  padding: 20px ;
}
#reviews-list li:last-child {
  margin-bottom: 0;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}

/* ============== Media Queries ============= */

@media screen and (min-width: 600px){
  #restaurants-list li{
    margin: 100px 50px 0;
  }
  header, #maincontent, #footer{
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 740px){
  #restaurant-container {
    margin: auto;
    justify-content: center;
    text-align: center;
  }
  #reviews-container > h3 {
    text-align: center;
  }
}

@media screen and (min-width: 1030px){
  #restaurant-container {
    display: block;
    margin: 0 10px 30px;
    text-align: left;
    position: relative;
  }
  #restaurant-address{
    position: absolute;
    width: 240px;
    left: calc(740px + (100vw - 1000px)/2);
    top: 35%;
  }
  #restaurant-hours{
    position: absolute;
    left: calc(740px + (100vw - 1000px)/2);
    top: 50%;
    max-width: 220px;
  }
  #reviews-container {
    max-width: 952px;
    margin-left: auto;
    margin-right: auto;
  }
}
